/* base button syling */
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
    height: 30px;
    transition: background-color 0.3s ease;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* different styles for primary and secondary */
.button.primary {
    background-color: #000000;
    color: white;
}

.button.primary:hover {
    background-color: #353535;
}

.button.secondary {
    background-color: #6c757d;
    color: white;
}

.button.secondary:hover {
    background-color: #5a6268;
}