.header {
    background-color: #ece9e5;
    padding: 10px;
    border-bottom: 1px solid #000000;
    height: calc(var(--header-height) - 20px);
    display:flex;
    align-items: center;
    justify-content: space-between;
    left: 0px;
    right: 0px;
    padding-left: 40px;
    font-size: 20px;
}

.header-buttons {
    display: flex;
    gap:10px;
}

